<div class="card" style="background: transparent; box-shadow: none;">
  <div class="card-body" style="padding: 0 !important;">
    <div class="row">

      <div class="col">
        <div id="map" class="map-wrapper {{isFullScreenModeOn ? 'full-screen' : ''}}" (resized)="onResized($event)" style="height: calc(100vh - 256px)">
          <div id="map" class="map"></div>

          <div class="d-flex h-100" style="padding: 4px;">
            <div class="d-flex flex-fill"></div>
            <div class="d-flex flex-column justify-content-center">
              <div class="d-flex flex-column map-controls map-components">
                <button mat-icon-button (click)="zoomIn()" class="map-button btn-light">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button (click)="zoomOut()" class="map-button btn-light">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
              <div class="d-flex map-controls map-components">
                <button mat-icon-button (click)="toggleFullScreenMode()" class="map-button btn-light">
                  <mat-icon>fullscreen</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div class="d-flex flex-column w-100 h-100" style="padding: 4px; position: absolute; top: 0;">
            <div class="d-flex flex-fill"></div>
            <div class="d-flex">
              <div class="d-flex map-controls map-components">
                <div class="map-scale" *ngIf="mapScale !== undefined">
                  <span>{{mapScale.unit}}</span>
                  <div class="map-scale-gradient {{mapScale.styleClass}}"></div>
                  <div class="map-scale-values d-flex justify-content-between">
                    <span *ngFor="let value of mapScale.values">{{value}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<!--<div class="container-fluid g-0">
  <div id="map" class="map-wrapper {{isFullScreenModeOn ? 'full-screen' : ''}}" (resized)="onResized($event)">
    <div id="map" class="map"></div>

    <div class="d-flex h-100" style="padding: 4px;">
      <div class="d-flex flex-fill"></div>
      <div class="d-flex flex-column justify-content-center">
        <div class="d-flex flex-column map-controls map-components">
          <button mat-icon-button (click)="zoomIn()" class="map-button btn-light">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button (click)="zoomOut()" class="map-button btn-light">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
        <div class="d-flex map-controls map-components">
          <button mat-icon-button (click)="toggleFullScreenMode()" class="map-button btn-light">
            <mat-icon>fullscreen</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column w-100 h-100" style="padding: 4px; position: absolute; top: 0;">
      <div class="d-flex flex-fill"></div>
      <div class="d-flex">
        <div class="d-flex map-controls map-components">
          <div class="map-scale" *ngIf="mapScale !== undefined">
            <span>{{mapScale.unit}}</span>
            <div class="map-scale-gradient {{mapScale.styleClass}}"></div>
            <div class="map-scale-values d-flex justify-content-between">
              <span *ngFor="let value of mapScale.values">{{value}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>-->
