
.big-weather-icon {
  min-width: 64px;
  min-height: 64px;
  max-width: 192px;
  max-height: 192px;
  width: 16vw;
  height: 16vw;
  transform: translate(16px, -16px);
}

.current-weather-summary {
  bottom: 24px;
  min-width: 352px !important;
}

.current-weather-summary-card {
    min-height: 144px;
}

@media (max-width: 768px) {
  .big-weather-icon {
    /*transform: translate(16px, -8px);*/
  }
  .current-weather-summary {
    transform-origin: 0 100%;
    transform: scale(.6) translate(-12px, 8px);
  }
}

.weather-detail {
  display: flex;
  margin-bottom: 48px;

  .weather-detail-icon {
    width: 54px;
    height: 54px;
    margin-top: -7px;
  }

  .weather-detail-google-icon {
    width: 36px;
    height: 36px;
    margin-top: 2px;
  }

  .weather-detail-content {
    margin-left: 8px;
  }

  .weather-detail-icon + .weather-detail-content {
    margin-left: -1px;
  }

  .weather-detail-label {
    font-size: 12px;
    margin: 0;
  }

  .weather-detail-value {
    display: flex;

    p {
      font-size: 16px;
      line-height: 1;
      margin: 0;
      margin-top: 2px;
    }

    span {
      font-family: 'Roboto';
      font-size: 10px;
      margin-left: 4px;
    }

    img {
      width: 24px;
      height: 24px;
      transform: translate(-5px, -5px);
    }
  }
}

.air-pollutant {
  padding-right: 24px;
  
  sub {
    margin-top: 12px;
  }
}

.weather-detail-index-badge {
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 14px !important;
    margin: 0 !important;
  }
}

.index-badge-1, .index-badge-low {
  background: #91c700;
}

.index-badge-2, .index-badge-moderate {
  background: #ffb800;
}

.index-badge-3, .index-badge-high {
  background: #ff8d00;
}

.index-badge-4, .index-badge-very-high {
  background: #ff3c00;
}

.index-badge-5, .index-badge-extreme {
  background: #9936d4;
}

.legend-item {
  display: flex;
  margin-right: 24px;
  margin-bottom: 8px;

  div {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    display: flex;
    align-self: center;
    margin-right: 12px;

    & + p {
      margin: 0;
    }
  }
}


