
<div class="row" style="padding-bottom: 64px;">

  <div class="col col-12 col-xl-8">

    <div class="card current-weather-summary-card">
      <div class="card-body">
        <div class="row">
          <div class="col d-flex">

            <div class="current-weather-summary d-flex align-items-end position-absolute">
              <div class="d-flex">
                <div class="mat-display-3" style="font-size: 96px; font-weight: 500; margin: 0; line-height: 1em;">{{currentWeather?.temp}}</div>
                <img src="/assets/svg/weather-icons/celsius.svg" width="72" height="72" style="margin-left: -16px; margin-top: -16px;" />
              </div>
              <div class="d-flex flex-column mb-2">
                <p class="mat-title mb-1 mx-1 text-capitalize" style="">{{currentWeather?.weekday}}, {{currentWeather?.date}}</p>
                <div class="d-flex align-items-center" *ngIf="geolocation !== undefined">
                  <mat-icon class="typo-fade-4" style="margin-top: -2px; margin-right: 4px; font-size: 20px; width: 20px; height: 20px;">location_on</mat-icon>
                  <p class="mat-title m-0">{{geolocation?.name}}, {{geolocation?.country}}</p>
                </div>
              </div>
            </div>
            <div class="d-flex flex-fill justify-content-end">
              <img class="big-weather-icon" src="{{currentWeather?.weatherIcon}}" />
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="card" style="margin-top: 31px !important;">
      <div class="card-body">

        <p class="mat-title mb-4">Details</p>

        <p class="mat-subheading-2 mb-5">Atmospheric</p>
        <div class="row">

          <div class="col-6 col-lg-3">
            <div class="weather-detail">
              <img class="weather-detail-icon" src="/assets/svg/weather-icons/thermometer.svg" />
              <div class="weather-detail-content">
                <p class="weather-detail-label typo-fade-3 font-weight-6">Feels like</p>
                <div class="weather-detail-value">
                  <p>{{currentWeather?.feelsLike}}</p>
                  <ng-container [ngSwitch]="units">
                    <img *ngSwitchCase="'imperial'" src="/assets/svg/weather-icons/fahrenheit.svg" />
                    <img *ngSwitchDefault src="/assets/svg/weather-icons/celsius.svg" />
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-lg-3">
            <div class="weather-detail">
              <img class="weather-detail-icon" src="/assets/svg/weather-icons/cloudy.svg" />
              <div class="weather-detail-content">
                <p class="weather-detail-label typo-fade-3 font-weight-6">Clouds</p>
                <div class="weather-detail-value">
                  <p>{{currentWeather?.clouds}}<span>%</span></p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-lg-3">
            <div class="weather-detail">
              <img class="weather-detail-icon" src="/assets/svg/weather-icons/humidity.svg" />
              <div class="weather-detail-content">
                <p class="weather-detail-label typo-fade-3 font-weight-6">Humidity</p>
                <div class="weather-detail-value">
                  <p>{{currentWeather?.humidity}}<span>%</span></p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-lg-3">
            <div class="weather-detail">
              <img class="weather-detail-icon" src="/assets/svg/weather-icons/pressure-high.svg" />
              <div class="weather-detail-content">
                <p class="weather-detail-label typo-fade-3 font-weight-6">Pressure</p>
                <div class="weather-detail-value">
                  <p>{{currentWeather?.pressure}}<span>hPa</span></p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <p class="mat-subheading-2 mb-5">Precipitation</p>
        <div class="row">

          <div class="col-6 col-lg-3">
            <div class="weather-detail">
              <img class="weather-detail-icon" src="/assets/svg/weather-icons/rain.svg" />
              <div class="weather-detail-content">
                <p class="weather-detail-label typo-fade-3 font-weight-6">Rain</p>
                <div class="weather-detail-value">
                  <p>{{todaysWeather?.rain}}<span>mm</span></p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-lg-3">
            <div class="weather-detail">
              <img class="weather-detail-icon" src="/assets/svg/weather-icons/snow.svg" />
              <div class="weather-detail-content">
                <p class="weather-detail-label typo-fade-3 font-weight-6">Snow</p>
                <div class="weather-detail-value">
                  <p>{{todaysWeather?.snow}}<span>mm</span></p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="weather-detail">
              <img class="weather-detail-icon" src="/assets/svg/weather-icons/wi_raindrop.svg" />
              <div class="weather-detail-content">
                <p class="weather-detail-label typo-fade-3 font-weight-6">Precipitation probability</p>
                <div class="weather-detail-value">
                  <p>{{todaysWeather?.POP}}<span>%</span></p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <p class="mat-subheading-2 mb-5">Wind</p>
        <div class="row">

          <div class="col-6 col-lg-3">
            <div class="weather-detail">
              <img class="weather-detail-icon" src="/assets/svg/weather-icons/wind.svg" />
              <div class="weather-detail-content">
                <p class="weather-detail-label typo-fade-3 font-weight-6">Wind speed</p>
                <div class="weather-detail-value">
                  <p>
                    {{currentWeather?.wind?.speed}}
                    <ng-container [ngSwitch]="units">
                      <span *ngSwitchCase="'imperial'">mph</span>
                      <span *ngSwitchDefault>m/s</span>
                    </ng-container>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-lg-3">
            <div class="weather-detail">
              <img class="weather-detail-icon" src="/assets/svg/weather-icons/wi_wind-direction.svg" style="transform: rotate({{currentWeather?.wind?.degree}}deg);" />
              <div class="weather-detail-content">
                <p class="weather-detail-label typo-fade-3 font-weight-6">Wind direction</p>
                <div class="weather-detail-value">
                  <p>{{currentWeather?.wind?.degree}}&deg; {{currentWeather?.wind?.direction}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <p class="mat-subheading-2 mb-5">Astronomical</p>
        <div class="row">

          <div class="col-6 col-lg-3">
            <div class="weather-detail">
              <img class="weather-detail-icon" src="/assets/svg/weather-icons/sunrise.svg" />
              <div class="weather-detail-content">
                <p class="weather-detail-label typo-fade-3 font-weight-6">Sunrise</p>
                <div class="weather-detail-value">
                  <p>{{todaysWeather?.sunrise}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-lg-3">
            <div class="weather-detail">
              <img class="weather-detail-icon" src="/assets/svg/weather-icons/sunset.svg" />
              <div class="weather-detail-content">
                <p class="weather-detail-label typo-fade-3 font-weight-6">Sunset</p>
                <div class="weather-detail-value">
                  <p>{{todaysWeather?.sunset}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-lg-3">
            <div class="weather-detail">
              <img class="weather-detail-icon" src="/assets/svg/weather-icons/moonrise.svg" />
              <div class="weather-detail-content">
                <p class="weather-detail-label typo-fade-3 font-weight-6">Moonrise</p>
                <div class="weather-detail-value">
                  <p>{{todaysWeather?.moonrise}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-lg-3">
            <div class="weather-detail">
              <img class="weather-detail-icon" src="/assets/svg/weather-icons/moonset.svg" />
              <div class="weather-detail-content">
                <p class="weather-detail-label typo-fade-3 font-weight-6">Moonset</p>
                <div class="weather-detail-value">
                  <p>{{todaysWeather?.moonset}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-12 col-lg-6">
            <div class="weather-detail">
              <img class="weather-detail-icon" src="{{todaysWeather?.moonPhase?.icon}}" />
              <div class="weather-detail-content">
                <p class="weather-detail-label typo-fade-3 font-weight-6">Moon phase</p>
                <div class="weather-detail-value">
                  <p>{{todaysWeather?.moonPhase?.name}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
  <div class="col col-xl-4">

    <div class="card">
      <div class="card-body">

        <p class="mat-title mb-5">UV Index</p>

        <div class="row">

          <div class="col">
            <div class="weather-detail">
              <img class="weather-detail-icon" src="/assets/svg/weather-icons/uv-index.svg" />
              <div class="weather-detail-content">
                <p class="weather-detail-label typo-fade-3 font-weight-6">UV Index</p>
                <div class="weather-detail-value weather-detail-index-badge index-badge-{{currentWeather?.UVIndex?.class}}">
                  <p>{{currentWeather?.UVIndex?.index}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col d-flex flex-wrap mb-3">
            <div class="legend-item">
              <div class="index-badge-low"></div>
              <p>Low</p>
            </div>
            <div class="legend-item">
              <div class="index-badge-moderate"></div>
              <p>Moderate</p>
            </div>
            <div class="legend-item">
              <div class="index-badge-high"></div>
              <p>High</p>
            </div>
            <div class="legend-item">
              <div class="index-badge-very-high"></div>
              <p>Very high</p>
            </div>
            <div class="legend-item">
              <div class="index-badge-extreme"></div>
              <p>Extreme</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card" style="margin-top: 31px !important;">
      <div class="card-body">

        <p class="mat-title mb-5">Air pollution</p>

        <div class="row">

          <div class="col">
            <div class="weather-detail">
              <img class="weather-detail-icon" src="/assets/svg/weather-icons/smoke.svg" />
              <div class="weather-detail-content">
                <p class="weather-detail-label typo-fade-3 font-weight-6">Air Quality Index</p>
                <div class="weather-detail-value weather-detail-index-badge index-badge-{{airPollution?.airQualityIndex}}">
                  <p>{{airPollution?.airQualityIndex}}</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col d-flex flex-wrap mb-3">
            <div class="legend-item">
              <div class="index-badge-1"></div>
              <p>Good</p>
            </div>
            <div class="legend-item">
              <div class="index-badge-2"></div>
              <p>Fair</p>
            </div>
            <div class="legend-item">
              <div class="index-badge-3"></div>
              <p>Moderate</p>
            </div>
            <div class="legend-item">
              <div class="index-badge-4"></div>
              <p>Poor</p>
            </div>
            <div class="legend-item">
              <div class="index-badge-5"></div>
              <p>Very Poor</p>
            </div>
          </div>

        </div>
        <div class="row pb-2">

          <p class="mat-subheading-2 mb-4">Pollutants</p>

          <div class="col-6 col-xl-12" *ngFor="let p of airPollution?.pollutants;">
            <p class="d-flex air-pollutant">
              <span class="d-flex flex-fill typo-fade-3 font-weight-6" [innerHTML]="p.tag"></span>
              <span>{{p.value}}</span>
              <span style="font-family: 'Roboto'; font-size: 10px; margin-left: 4px;">μg/m<sup>3</sup></span>
            </p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
