<div class="d-flex flex-column flex-fill" style="height: calc(100vh - 256px)">
  <div class="chart-wrapper" (window:resize)="onResized($event)">
    <div class="chart-content">
      <svg #chartRender>
        <linearGradient id="gradient1" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" [attr.stop-color]="color" stop-opacity=".3" />
          <stop offset="100%" stop-color="#ffffff" stop-opacity="0" />
        </linearGradient>
        <linearGradient id="gradient2" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%" stop-color="#000000" stop-opacity="0" />
          <stop offset="30%" stop-color="#000000" stop-opacity=".2" />
          <stop offset="70%" stop-color="#000000" stop-opacity=".2" />
          <stop offset="100%" stop-color="#000000" stop-opacity="0" />
        </linearGradient>
        <rect *ngFor="let s of separators" [attr.x]="s.x" [attr.y]="s.y" [attr.width]="s.w" [attr.height]="s.h" fill="url(#gradient2)"></rect>
        <svg:g *ngIf="curve !== undefined">
          <svg:path [attr.d]="curve.fill" stroke="transparent" fill="url(#gradient1)" />
          <svg:path [attr.d]="curve.stroke" [attr.stroke]="color" stroke-width="3" fill="transparent" />
        </svg:g>
        <text *ngFor="let v of values;" [attr.x]="v.position.x" [attr.y]="v.position.y" [attr.fill]="color">
          {{v.value}}
        </text>
        <text *ngFor="let l of axisYLabels;" [attr.x]="l.position.x" [attr.y]="l.position.y" fill="#333" text-anchor="end">
          {{l.value}}
        </text>
        <text *ngFor="let l of axisXLabels;" [attr.x]="l.position.x" [attr.y]="l.position.y" fill="#333">
          {{l.value}}
        </text>
        <text *ngFor="let l of axisXSecLabels;" [attr.x]="l.position.x" [attr.y]="l.position.y" fill="#ccc">
          {{l.value}}
        </text>
        <text x="5" y="12" fill="#ccc">
          {{label}}
        </text>
      </svg>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button mat-button style="min-width: 0; width: 36px !important;" (click)="prev()" [disabled]="isStart() ? true : null">
      <mat-icon style="margin-left: -10px;">navigate_before</mat-icon>
    </button>
    <button mat-button style="min-width: 0; width: 36px !important;" (click)="next()" [disabled]="isEnd() ? true : null">
      <mat-icon style="margin-left: -10px;">navigate_next</mat-icon>
    </button>
  </div>
</div>
