
<div class="app-wrapper shadow-5">
  <div class="container" style="min-height: 100vh;">

    <app-nav-bar></app-nav-bar>

    <router-outlet class="router-outlet"></router-outlet>


  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sx-0 col-md-1"></div>
      <div class="col col-md-10">
        <div class="row">
          <div class="col">
            <p class="font-weight-6" style="color: rgb(236, 237, 239, .46); margin-bottom: 16px;">Current weather</p>
            <p class="font-weight-4" style="color: rgb(236, 237, 239, .76);">Details</p>
            <p class="font-weight-4" style="color: rgb(236, 237, 239, .76);">UV Index</p>
            <p class="font-weight-4" style="color: rgb(236, 237, 239, .76);">Air pollution</p>
          </div>
          <div class="col">
            <p class="font-weight-6" style="color: rgb(236, 237, 239, .46); margin-bottom: 16px;">Map</p>
            <p class="font-weight-4" style="color: rgb(236, 237, 239, .76);">Temperature</p>
            <p class="font-weight-4" style="color: rgb(236, 237, 239, .76);">Precipitation</p>
            <p class="font-weight-4" style="color: rgb(236, 237, 239, .76);">Wind speed</p>
          </div>
          <div class="col">
            <p class="font-weight-6" style="color: rgb(236, 237, 239, .46); margin-bottom: 16px;">Forecast</p>
            <p class="font-weight-4" style="color: rgb(236, 237, 239, .76);">Hourly</p>
            <p class="font-weight-4" style="color: rgb(236, 237, 239, .76);">Daily</p>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="d-flex justify-content-center">
      <div style="padding: 0 64px;">
        <p class="font-weight-6" style="color: rgb(236, 237, 239, .46);">Current weather</p>
        <p class="font-weight-4" style="color: rgb(236, 237, 239, .76);">Details</p>
        <p class="font-weight-4" style="color: rgb(236, 237, 239, .76);">UV Index</p>
        <p class="font-weight-4" style="color: rgb(236, 237, 239, .76);">Air pollution</p>
      </div>
      <div style="padding: 0 64px;">
        <p class="font-weight-6" style="color: rgb(236, 237, 239, .46);">Forecast</p>
        <p class="font-weight-4" style="color: rgb(236, 237, 239, .76);">Hourly</p>
        <p class="font-weight-4" style="color: rgb(236, 237, 239, .76);">Daily</p>
      </div>
      <div style="padding: 0 64px;">
        <p class="font-weight-6" style="color: rgb(236, 237, 239, .46);">Map</p>
        <p class="font-weight-4" style="color: rgb(236, 237, 239, .76);">Temperature</p>
        <p class="font-weight-4" style="color: rgb(236, 237, 239, .76);">Precipitation</p>
        <p class="font-weight-4" style="color: rgb(236, 237, 239, .76);">Wind speed</p>
      </div>
    </div>-->
  </div>
</div>
