<div class="row">
  <div class="col">

    <div class="d-flex">
      <img src="/assets/svg/weather-icons/cloudy.svg" width="96" height="96" style="transform: scale(1.3); transform-origin: 0 50%;" />
      <!--<h2 class="d-flex align-items-center">WeatherApp</h2>-->
      <div class="d-flex align-items-center flex-fill">

      </div>
      <div class="d-none d-lg-flex justify-content-end align-items-center" style="margin: 0 32px;">
        <mat-button-toggle-group class="my-tab-group" [(ngModel)]="view">
          <mat-button-toggle value="current" routerLink="current">Current weather</mat-button-toggle>
          <mat-button-toggle value="forecast" routerLink="forecast">Forecast</mat-button-toggle>
          <mat-button-toggle value="map" routerLink="map">Map</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="d-none d-lg-flex align-items-center align-self-center">
        <mat-form-field appearance="fill" class="my-form-field my-form-field-light {{errorClass}}" style="width: 300px; margin-top: 1.25em;">
          <input matInput type="text" placeholder="Search" [(ngModel)]="location">
          <button mat-icon-button matSuffix (click)="updateWeather()">
            <mat-icon>search</mat-icon>
          </button>
          <mat-hint *ngIf="hasError">{{errorMsg}}</mat-hint>
        </mat-form-field>
      </div>
      <div class="d-lg-none d-flex align-items-center align-self-center">
        <button mat-button style="min-width: 0; width: 36px !important; margin: 16px;" (click)="toggleSidenavMenu()">
          <mat-icon style="margin-left: -10px; transform: scale(1.2)">menu</mat-icon>
        </button>
      </div>
    </div>

  </div>
</div>
<div class="row">
  <div class="col d-none d-lg-flex">

    <div class="d-flex align-items-center">
      <span style="margin: 0 8px;">Weather layer</span>
      <mat-form-field appearance="fill" class="my-select-field" style="margin: 1.25em 8px 0 8px;">
        <mat-select [(ngModel)]="weatherProperty" (selectionChange)="onClickWeatherProperty()">
          <mat-option value="temp_new">Temperature</mat-option>
          <mat-option value="wind_new">Wind speed</mat-option>
          <mat-option value="pressure_new">Pressure</mat-option>
          <mat-option value="clouds_new">Clouds</mat-option>
          <mat-option value="precipitation_new">Precipitation</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="d-flex align-items-center flex-fill">

    </div>

    <div class="d-flex align-items-center" style="margin-left: 24px;">
      <span style="margin: 0 16px;">Units</span>
      <mat-button-toggle-group class="my-button-toggle-group" (click)="onClickUnits()" [(ngModel)]="units">
        <mat-button-toggle value="metric">Metric</mat-button-toggle>
        <mat-button-toggle value="imperial">Imperial</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="d-flex align-items-center" style="margin-left: 24px;">
      <span style="margin: 0 16px;">Data</span>
      <mat-button-toggle-group class="my-button-toggle-group" [(ngModel)]="forecastTimeRange" (change)="onClickForecastTimeRange()">
        <mat-button-toggle value="daily">Daily</mat-button-toggle>
        <mat-button-toggle value="hourly">Hourly</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

  </div>
</div>
<div id="side-nav" class="d-lg-none side-nav {{sidenavMenuClass}}">
  <div class="d-flex flex-column w-100">

    <div class="d-flex align-self-center">

      <div class="d-flex" style="margin: 0 32px;">
        <mat-button-toggle-group class="my-tab-group" [(ngModel)]="view">
          <mat-button-toggle value="current" routerLink="current" (click)="toggleSidenavMenu()">Current</mat-button-toggle>
          <mat-button-toggle value="forecast" routerLink="forecast" (click)="toggleSidenavMenu()">Forecast</mat-button-toggle>
          <mat-button-toggle value="map" routerLink="map" (click)="toggleSidenavMenu()">Map</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </div>
    <div class="d-flex flex-fill">

    </div>
    <div class="d-flex flex-column">

      <div class="d-flex">

        <div class="d-flex flex-fill flex-grow-1 align-items-streach align-self-center">
          <mat-form-field appearance="fill" class="my-form-field my-form-field-light w-100 {{errorClass}}" style="margin-top: 1.25em;">
            <input matInput type="text" placeholder="Search" [(ngModel)]="location">
            <button mat-icon-button matSuffix (click)="updateWeather()">
              <mat-icon>search</mat-icon>
            </button>
            <mat-hint *ngIf="hasError">{{errorMsg}}</mat-hint>
          </mat-form-field>
        </div>

      </div>

      <div class="d-flex align-items-center">
        <span class="d-flex flex-fill">Weather layer</span>
        <mat-form-field appearance="fill" class="my-select-field" style="margin-top: 1.25em">
          <mat-select [(ngModel)]="weatherProperty" (selectionChange)="onClickWeatherProperty()">
            <mat-option value="temp_new">Temperature</mat-option>
            <mat-option value="wind_new">Wind speed</mat-option>
            <mat-option value="pressure_new">Pressure</mat-option>
            <mat-option value="clouds_new">Clouds</mat-option>
            <mat-option value="precipitation_new">Precipitation</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="d-flex align-items-center" style="margin-bottom: 1.25em;">
        <span class="d-flex flex-fill">Units</span>
        <mat-button-toggle-group class="my-button-toggle-group" (click)="onClickUnits()" [(ngModel)]="units">
          <mat-button-toggle value="metric">Metric</mat-button-toggle>
          <mat-button-toggle value="imperial">Imperial</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div class="d-flex align-items-center">
        <span class="d-flex flex-fill">Data</span>
        <mat-button-toggle-group class="my-button-toggle-group" [(ngModel)]="forecastTimeRange" (change)="onClickForecastTimeRange()">
          <mat-button-toggle value="daily">Daily</mat-button-toggle>
          <mat-button-toggle value="hourly">Hourly</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </div>

  </div>
</div>
