
body {
  color: rgba(0, 0, 0, .76) ;
}

.typo-fade-1 {
  color: rgba(0, 0, 0, .56);
}

.typo-fade-2 {
  color: rgba(0, 0, 0, .36);
}

.typo-fade-3 {
  color: rgba(0, 0, 0, .24);
}

.typo-fade-4 {
  color: rgba(0, 0, 0, .12);
}

.font-weight-3 {
    font-weight: 300;
}

.font-weight-4 {
  font-weight: 400;
}

.font-weight-5 {
  font-weight: 500;
}

.font-weight-6 {
  font-weight: 600;
}

.font-weight-7 {
  font-weight: 700;
}
